
<!-- https://youtu.be/JL0dvCvXt4E -->
<div class="video-responsive">
<div class="container items-center relative flex flex-col justify-between h-full max-w-6xl px-10 mx-auto xl:px-0 mt-5">
<iframe class="rounded-2xl border-1 border-[#d5ff57]" width="960" height="500" src="https://www.youtube.com/embed/JL0dvCvXt4E" title="Vercel necesita un gran cambio"  allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
</div>



<style>
.video-responsive {
  height: 240px;
  width: auto;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
	}

</style>
