<div class="w-full relative opacity-70">
  <video src="/video.mp4" 
    autoplay loop muted style="clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 50% 100%, 0 95%);"
    class="w-full h-auto z-10">
  </video>
  <video src="/video.mp4" 
    autoplay loop muted
    class="absolute -bottom-5 blur-lg -z-40">
  </video>
  <div class="absolute inset-0 flex flex-col items-center justify-center text-center text-white z-20">
    <h1 class="text-2xl md:text-6xl md:font-bold md:mb-4">¡Únete a nuestra <span class="text-[#d5ff57]">comunidad!</span></h1>
    <p class="hidden sm:block md:text-lg md:mb-6">Descubre contenido exclusivo y mantente conectado.</p>

    <button class="px-6 py-3 bg-transparent border-2 border-[#d5ff57] text-[#d5ff57] font-semibold rounded-lg hover:bg-[#d5ff57] hover:text-black">
      Comenzar ahora
    </button>
  </div>
</div>
