---
import { Image } from 'astro:assets';
import '../styles/global.css';
import Logo from '../assets/logodvh.png';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props
---


<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
<header class="relative z-10">
  <nav class="fixed top-0 left-0 w-full flex items-center justify-between px-6 py-4 bg-black/20 backdrop-blur-md">
    <!-- Logo sin opacidad -->
    <div>
          <Image src={Logo} alt="Logo" class="md:h-auto h-auto w-100" />
    </div>

    <!-- Botón menú hamburguesa -->
    <button id="menu-btn" class="md:hidden text-white focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path id="menu-icon" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
    </button>

    <!-- Menú -->
    <ul id="menu" class="hidden md:flex space-x-6 text-lime-950 absolute md:static bg-black/40 md:bg-transparent w-full md:w-auto top-16 left-0 md:top-auto md:left-auto transition-transform duration-300 ease-in">
          <li class="md:text-[16px] md:font-bold p-4 hover:bg-gray-700 md:hover:bg-transparent md:hover:text-[#000000] md:p-0"><a href="#">Inicio</a></li>
      <li class="md:text-[16px] md:font-bold p-4 hover:bg-gray-700 md:hover:bg-transparent md:hover:text-[#000000] md:p-0"><a href="#">Servicios</a></li>
      <li class="md:text-[16px] md:font-bold p-4 hover:bg-gray-700 md:hover:bg-transparent md:hover:text-[#000000] md:p-0"><a href="#">Sobre Nosotros</a></li>
      <li class="md:text-[16px] md:font-bold p-4 hover:bg-gray-700 md:hover:bg-transparent md:hover:text-[#000000] md:p-0"><a href="#">Contacto</a></li>
    </ul>
  </nav>

  <script>
    const menuBtn = document.getElementById('menu-btn');
    const menu = document.getElementById('menu');
    const menuIcon = document.getElementById('menu-icon');

    menuBtn.addEventListener('click', () => {
      menu.classList.toggle('hidden');
      const isOpen = !menu.classList.contains('hidden');
      menuIcon.setAttribute('d', isOpen ? 'M6 18L18 6M6 6l12 12' : 'M4 6h16M4 12h16m-7 6h7');
    });
  </script>
</header>
    <slot />
  </body>
</html>

<style>
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
</style>
